<% include ../partials/header %>


<div class="jumbotron">

<h1><%= fullname %></h1>
 <ul>
    <% hobbies.forEach(function(hobby) { %>
        <li><%= hobby %></li>
    <% }); %>
</ul>

<h1><%= bdate  %></h1>

        <p class="lead">5930213030</p>
        <hr class="my-2">
          <p class="lead">
              <a class="btn btn-primary btn-lg" role="button" href="http://localhost:8080/Student">Students</a>
              <a class="btn btn-primary btn-lg" role="button" href="http://localhost:8080/Subjects">Subjects</a>
          </p>
</div>


<% include ../partials/footer %>